@import "tailwindcss";

* {
  margin: 0;
  padding:5;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #f8fafc;
}

/* input {
  width: 100%;
  padding: 10px;
} */

label {
  display: block;
}

